{% extends "views/layouts/base.html" %}
{% block title %}Sistemas{% endblock %}
{% block mycss %}{% endblock %}
{% block menutitle %}Estaciones{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-actions float-end">
            <div class="dropdown position-relative">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                        <circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle>
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#" id="exportExcel"><i data-feather="file-text"></i> Exportar a Excel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <div id="filtro-datatables_stations" class="mb-1">
            <div class="row">
                <!-- Agrega tus elementos de filtrado aquí -->
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="ID"           placeholder="Id"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="NOMBRE"       placeholder="Nombre"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="DOMICILIO"    placeholder="Domicilio"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="ESTACIÓN"     placeholder="Estación"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="SERVIDOR"     placeholder="Servidor"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="BD"           placeholder="BD"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="CRE"          placeholder="Permiso CRE"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="DENOMINACIÓN" placeholder="Denominación"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="ZONA"         placeholder="Zona"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="RFC" placeholder="RFC"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="STATUS"       placeholder="Status"></div>
                <div class="col p-1 text-center">
                    <button type="button" class="btn btn-sm btn-success refresh"><i data-feather="refresh-ccw"></i></button>
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#stationModal"><i data-feather="plus"></i></button>
                </div>
            </div>
        <!-- Puedes agregar más filtros según tus necesidades -->
        </div>
        <table id="datatables_stations" class="table table-sm w-100" style="font-size:x-small;" data-user="{{ user_id }}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DOMICILIO</th>
                    <th>ESTACIÓN</th>
                    <th>SERVIDOR</th>
                    <th>BD</th>
                    <th>CRE</th>
                    <th>DENOMINACIÓN</th>
                    <th>ZONA</th>
                    <th>RFC</th>
                    <th>STATUS</th>
                    <th>CONEXION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DOMICILIO</th>
                    <th>ESTACIÓN</th>
                    <th>SERVIDOR</th>
                    <th>BD</th>
                    <th>CRE</th>
                    <th>DENOMINACIÓN</th>
                    <th>ZONA</th>
                    <th>RFC</th>
                    <th>STATUS</th>
                    <th>CONEXION</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="stationModal" tabindex="-1" aria-labelledby="stationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="stationModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="content">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block myjs %}
<script src="{{ JS }}it.js"></script>
<script>
    // Vamos a darle la funcionalidad al boton .refresh
    $('.refresh').on('click', function() {
        $('#datatables_stations').DataTable().ajax.reload();
        // Quitamos la clase ,loading
        $('.table-responsive').removeClass('loading');
    });
</script>
{% endblock %}