{% extends "views/layouts/base.html" %}
{% block title %}Abastos - Generación XML (Masivo){% endblock %}
{% block mycss %}
<style>
    .bootstrap-select .dropdown-toggle {
        max-width: 580px !important;
    }
</style>
{% endblock %}
{% block menutitle %}Generación XML (Masivo){% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form action="/supply/bulkUpload" id="bulkUploadForm">
            <div class="row">
                <div class="col">
                    <label for="from">Fecha: </label>
                    <input type="date" class="form-control form-control-sm" name="from" id="from" value="{{ from }}" max="{{ yesterday }}" min="{{ threeDaysAgo }}">
                </div>
                <div class="col">
                    <label for="company">Empresa: </label>
                    <select class="selectpicker form-control form-control-sm border" data-live-search="true" id="company" name="company" data-width="100%" required placeholder="Seleccione una estación">
                        {% for company in companies %}
                        <option value="{{ company.rfc }}" {{ companyRfc == company.rfc ? 'selected' : '' }}>{{ company.denominacion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button id="submitButton" class="btn btn-primary btn-sm btn-block mt-4">Generar tablero</button>
                    <a href="/supply/bulkUpload" class="btn btn-info btn-sm mt-4">Limpiar tablero</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% if(groupedData is defined) %}
    {% for key, products in groupedData %}
    <div class="card">
        <div class="card-header pb-0">
            <h5 class="card-title">{{ products[0].gasStation }} - Permiso: {{ products[0].numeroPermisoCRE }}</h5>
        </div>
        <div class="card-body pt-0">

            <div class="row table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="w-35">Producto</th>
                            <th>Inventario inicial</th>
                            <th>Volumen vendido</th>
                            <th>Inventario final</th>
                            <th>Mermas</th>
                            <th>Compras</th>
                            <th class="w-10">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr id="{{ product.id }}">
                                <input type="hidden" name="controlGasStationId" value="{{ product.controlGasStationId }}">
                                <input type="hidden" name="creProductId" value="{{ product.creProductId }}">
                                <input type="hidden" name="creSubProductId" value="{{ product.creSubProductId }}">
                                <input type="hidden" name="creSubProductBrandId" value="{{ product.creSubProductBrandId }}">
                                <input type="hidden" name="SaldoInicial" value="{{ product.SaldoInicial }}">
                                <input type="hidden" name="SaldoFinal" value="{{ product.SaldoFinal }}">
                                <input type="hidden" name="Ventas" value="{{ product.Ventas }}">
                                <input type="hidden" name="from" value="{{ from }}">
                                <input type="hidden" name="numeroPermisoCRE" value="{{ product.numeroPermisoCRE }}">
                                <input type="hidden" name="rfc" value="{{ product.rfc }}">

                                <td>
                                    <div class="flex-grow-1 ms-3">
                                        <strong>{{ product.controlGasProduct }}</strong>
                                        <div class="text-muted">
                                            {{ product.subProduct }} - {{ product.subProductBrand }}
                                        </div>
                                    </div>
                                </td>
                                <td class="{{ product.SaldoInicial < 0 ? 'bg-danger text-light fw-bold' : '' }}">{{ product.SaldoInicial | number_format(0) }}</td>
                                <td class="{{ product.Ventas < 0 ? 'bg-danger text-light fw-bold' : '' }}">{{ product.Ventas | number_format(0) }}</td>
                                <td class="{{ product.SaldoFinal < 0 ? 'bg-danger text-light fw-bold' : '' }}">{{ product.SaldoFinal | number_format(0) }}</td>
                                <td class="{{ product.Merma > 500 ? 'bg-warning dark fw-bold' : '' }}">{{ product.Merma | number_format(0) }}</td>
                                <td>{{ product.compras | raw }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-saldoinicial="{{ product.SaldoInicial }}" data-ventas="{{ product.Ventas }}" data-saldofinal="{{ product.SaldoFinal }}" data-codgas="{{ product.controlGasStationId }}" data-creProductId="{{ product.creProductId }}" data-creSubProductId="{{ product.creSubProductId }}" data-creSubProductBrandId="{{ product.creSubProductBrandId }}" data-merma="{{ product.merma }}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></button>
                                        <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#addPurchaseModal" data-rowid="{{ product.id }}" data-codgas="{{ product.controlGasStationId }}" data-controlGasProductId="{{ product.controlGasProductId }}" data-creProductId="{{ product.creProductId }}" data-creSubProductId="{{ product.creSubProductId }}" data-creSubProductBrandId="{{ product.creSubProductBrandId }}" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus align-middle"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form action="/xml/generatexml" method="get" target="_blank">
                        <input type="hidden" name="from" value="{{ from }}">
                        <input type="hidden" name="codgas" value="{{ codgas_string }}">
                        <input type="hidden" name="companyDenominacion" value="{{ companyRfc }}">
                        <button type="submit" class="btn btn-info btn-block" name="output" value="browser">Abrir XML</button>
                        <button type="submit" class="btn btn-primary btn-block" name="output" value="file" id="outputFile">Exportar XML</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Modificar inventario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="updateForm" method="post" action="/supply/updateForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="InventarioInicial" class="form-label">Inventario Inicial: </label>
                        <input type="number" step="1" min="0" max="200000" class="form-control" id="InventarioInicial" name="InventarioInicial">
                    </div>
                    <div class="mb-3">
                        <label for="VolumenVendido" class="form-label">Ventas: </label>
                        <input type="number" step="1" min="0" max="200000" class="form-control" id="VolumenVendido" name="VolumenVendido">
                    </div>
                    <div class="mb-3">
                        <label for="InventarioFinal" class="form-label">Inventario Final: </label>
                        <input type="number" step="1" min="0" max="200000" class="form-control" id="InventarioFinal" name="InventarioFinal">
                    </div>
                    <div class="mb-3">
                        <label for="Merma" class="form-label">Merma: </label>
                        <input type="number" step="1" max="200000" class="form-control" id="Merma" name="Merma">
                        <small class="text-primary">Este dato no es relevante para la CRE</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="from" value="{{ from }}">
                    <input type="hidden" name="codgas" value="">
                    <input type="hidden" name="creProductId" value="">
                    <input type="hidden" name="creSubProductId" value="">
                    <input type="hidden" name="creSubProductBrandId" value="">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addPurchaseModal" tabindex="-1" aria-labelledby="addPurchaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addPurchaseModalLabel">Agregar proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmCapturaProveedor" action="/supply/frmCapturaProveedor" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="mb-3">
                                <label class="col-form-label col-form-label-sm" for="TipoCompra">Tipo de compra: </label>
                                <select class="selectpicker form-control" data-live-search="true" name="TipoCompra" id="TipoCompra" required>
                                    <option value="0" selected>Nacional</option>
                                    <option value="1">Importación</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="mb-3">
                                <label class="col-form-label col-form-label-sm" for="TipoDocumento">Tipo de documento: </label>
                                <select class="selectpicker form-control" data-live-search="true" name="TipoDocumento" id="TipoDocumento" required>
                                    <option value="1" selected>Compra</option>
                                    <option value="2">Remisión</option>
                                    <option value="3">Consignación</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="col-form-label col-form-label-sm" for="PermisoProveedorCRE">Proveedor: </label>
                                <select class="selectpicker form-control" data-live-search="true" name="PermisoProveedorCRE" id="PermisoProveedorCRE" required placeholder="Seleccione un proveedor">
                                    {% for supplier in suppliers %}
                                    <option value="{{ supplier.crePermissionSupplier }}">{{ supplier.crePermissionSupplier }} - {{ supplier.companyName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="mb-3">
                                <label class="col-form-label col-form-label-sm" for="VolumenComprado">Volumen comprado (lts)*:</label>
                                <div class="input-group mb-3">
                                    <input type="number" min="0" step="1" class="form-control" id="VolumenComprado" name="VolumenComprado" required>
                                    <span class="input-group-text">lts</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="mb-3">
                                <label class="col-form-label col-form-label-sm" for="PrecioCompraSinDescuento">Precio de compra sin descuento*:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="number" min="0" step="0.01" class="form-control" id="PrecioCompraSinDescuento" name="PrecioCompraSinDescuento" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label" style="margin-right: 10px;">¿Recibió algún descuento sobre el precio presentado?<span class="form-text">*</span>:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RecibioDescuento" id="RecibioDescuentoSi" value="1">
                                <label class="form-check-label" for="RecibioDescuentoSi">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="RecibioDescuento" id="RecibioDescuentoNo" value="0" checked>
                                <label class="form-check-label" for="RecibioDescuentoNo">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="divRecibioDescuento"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label" style="margin-right: 10px;">¿Pagó por servicio de flete?<span class="form-text">*</span>:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="PagoServicioFlete" id="PagoServicioFleteSi" value="1">
                                <label class="form-check-label" for="PagoServicioFleteSi">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="PagoServicioFlete" id="PagoServicioFleteNo" value="0" checked>
                                <label class="form-check-label" for="PagoServicioFleteNo">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divPagoServicioFlete"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="col-form-label col-form-label-sm" for="PermisoTransportistaCRE">Transportista: </label>
                                <select class="selectpicker form-control form-control-sm border" data-live-search="true" id="PermisoTransportistaCRE" name="PermisoTransportistaCRE" data-width="100%" required placeholder="Seleccione un transportista">
                                    <option value="">Seleccione un transportista...</option>
                                    {% for carrier in carriers %}
                                    <option value="{{ carrier.crePermissionCarrier }}">{{ carrier.crePermissionCarrier }} - {{ carrier.companyName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="from" value="{{ from }}">
                    <input type="hidden" name="codgas" value="">
                    <input type="hidden" name="creProductId" value="">
                    <input type="hidden" name="creSubProductId" value="">
                    <input type="hidden" name="creSubProductBrandId" value="">
                    <input type="hidden" name="rowid" value="">
                    <input type="hidden" name="controlGasProductId" value="">
                    <button type="submit" class="btn btn-primary" id="btnEnviarFormulario">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="purchaseDataModal" tabindex="-1" aria-labelledby="purchaseDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="purchaseDataModalLabel">Datos de la compra</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block myjs %}
<script src="{{ JS }}supply.js"></script>
<script>

    // Cuando se abra el modal #editModal
    $('#editModal').on('show.bs.modal', function (event) {
        // Obtener el botón que desencadenó el evento
        const button = $(event.relatedTarget);
        // Extraer los datos de los atributos data-*
        const saldoInicial = button.data('saldoinicial');
        const ventas = button.data('ventas');
        const saldoFinal = button.data('saldofinal');
        const merma = button.data('merma');
        const codgas = button.data('codgas');
        const creProductId = button.data('creproductid');
        const creSubProductId = button.data('cresubproductid');
        const creSubProductBrandId = button.data('cresubproductbrandid');

        // Actualizar el contenido del modal
        const modal = $(this);
        modal.find('.modal-body input#InventarioInicial').val(Math.round(saldoInicial));
        modal.find('.modal-body input#VolumenVendido').val(Math.round(ventas));
        modal.find('.modal-body input#InventarioFinal').val(Math.round(saldoFinal));
        modal.find('.modal-body input#Merma').val(Math.round(merma));
        // Vamos a agregar los valores de los atributos data-* al formulario
        modal.find('.modal-footer input[name="codgas"]').val(codgas);
        modal.find('.modal-footer input[name="creProductId"]').val(creProductId);
        modal.find('.modal-footer input[name="creSubProductId"]').val(creSubProductId);
        modal.find('.modal-footer input[name="creSubProductBrandId"]').val(creSubProductBrandId);
    });

    // Cuando se abra el modal #addPurchaseModal
    $('#addPurchaseModal').on('show.bs.modal', function (event) {
        // Obtener el botón que desencadenó el evento
        const button = $(event.relatedTarget);
        // Extraer los datos de los atributos data-*
        const codgas = button.data('codgas');
        const creProductId = button.data('creproductid');
        const creSubProductId = button.data('cresubproductid');
        const creSubProductBrandId = button.data('cresubproductbrandid');
        const rowid = button.data('rowid');
        const controlGasProductId = button.data('controlgasproductid');

        // Actualizar el contenido del modal
        const modal = $(this);
        // Vamos a agregar los valores de los atributos data-* al formulario
        modal.find('.modal-footer input[name="codgas"]').val(codgas);
        modal.find('.modal-footer input[name="creProductId"]').val(creProductId);
        modal.find('.modal-footer input[name="creSubProductId"]').val(creSubProductId);
        modal.find('.modal-footer input[name="creSubProductBrandId"]').val(creSubProductBrandId);
        modal.find('.modal-footer input[name="rowid"]').val(rowid);
        modal.find('.modal-footer input[name="controlGasProductId"]').val(controlGasProductId);
    });

    // Vamos a lanzar un alert cuando el elemento RecibioDescuentoSi este checked
    $('#RecibioDescuentoSi').on('change', function() {
        // Vamos a validar si el elemento esta checked
        if($(this).is(':checked')) {
            // Aqui vamos arellenar el div#divRecibioDescuento
            $('#divRecibioDescuento').html(`
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm" for="TipoDescuentoId">Tipo de descuento:</label>
                        <select id="TipoDescuentoId" name="TipoDescuentoId" class="form-control" required>
                            <option value="">Seleccione una opción...</option>
                            <option value="1">Volumen</option>
                            <option value="2">Método de pago</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm" for="PrecioCompraConDescuento">Precio con descuento incluido:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" min="0.01" step="0.01" class="form-control" id="PrecioCompraConDescuento" name="PrecioCompraConDescuento" required>
                        </div>
                    </div>
                </div>
            `);
        }
    });

    // Vamos a lanzar un alert cuando el elemento RecibioDescuentoSi este checked
    $('#RecibioDescuentoNo').on('change', function() {
        // Vamos a validar si el elemento esta checked
        if($(this).is(':checked')) {
            // Aqui vamos arellenar el div#divRecibioDescuento
            $('#divRecibioDescuento').html('');
        }
    });

    // Vamos a lanzar un alert cuando el elemento RecibioDescuentoSi este checked
    $('#PagoServicioFleteSi').on('change', function() {
        // Vamos a validar si el elemento esta checked
        if($(this).is(':checked')) {
            // Aqui vamos arellenar el div#divRecibioDescuento
            $('#divPagoServicioFlete').html(`
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-form-label col-form-label-sm" for="CostoFlete">Costo del flete:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" min="0.01" step="0.01" class="form-control" id="CostoFlete" name="CostoFlete" required>
                        </div>
                    </div>
                </div>
            `);
        }
    });

    // Vamos a lanzar un alert cuando el elemento RecibioDescuentoSi este checked
    $('#PagoServicioFleteNo').on('change', function() {
        // Vamos a validar si el elemento esta checked
        if($(this).is(':checked')) {
            // Aqui vamos arellenar el div#divRecibioDescuento
            $('#divPagoServicioFlete').html('');
        }
    });

    // Vamos a prevenir que se envie el formulario #updateForm
    $('#updateForm').on('submit', function(e) {
        e.preventDefault();
        // Obtener el formulario que desencadenó el evento
        const form = $(this)[0];
        // Vamos a enviar los datos del formulario a través de AJAX
        const formData = new FormData(form);
        // Crear una nueva funcion ajax de jquery
        $.ajax({
            url: form.action,
            type: form.method,
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.status == 'success') {
                    toastr.success(response.message, '¡Éxito!', { timeOut: 5000 });
                    $('#editModal').modal('hide');
                    // Ahora vamos a buscar el tr# con el id response.data.id y vamos a actualizar los valores de sus td
                    $(`tr#${response.data.id}`).find('td').eq(1).text(response.data.inventarioInicial);
                    $(`tr#${response.data.id}`).find('td').eq(2).text(response.data.volumenVendido);
                    $(`tr#${response.data.id}`).find('td').eq(3).text(response.data.inventarioFinal);
                    $(`tr#${response.data.id}`).find('td').eq(4).text(response.data.merma);
                } else {
                    toastr.error()
                }
            }
        });
    });

    // Vamos a enviar el formulario #frmCapturaProveedor
    $('#frmCapturaProveedor').on('submit', function(e) {
        e.preventDefault();
        // Obtener el formulario que desencadenó el evento
        const form = $(this)[0];
        // Vamos a enviar los datos del formulario a través de AJAX
        const formData = new FormData(form);
        // Crear una nueva funcion ajax de jquery
        $.ajax({
            url: form.action,
            type: form.method,
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response);
                if (response.status === 'success') {
                    // Vamos a mostrar un mensaje de alerta
                    toastr.success(response.message, '¡Éxito!', { timeOut: 5000 });
                    // Vamos a cerrar el modal
                    $('#addPurchaseModal').modal('hide');
                    // Ahora vamos a buscar el tr con el id response.rowid y vamos a actualizar los valores de sus t
                    $(`tr#${response.rowid}`).find('td').eq(5).append(`<p class="text-nowrap m-0 p-0"><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#purchaseDataModal" data-id="${response.data.id}">${response.data.volumenComprado} lts (${response.data.permisoProveedorCRE})</a><a class="text-danger ml-2" onclick="confirm_delete(${response.data.id});"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 align-middle me-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a></p>`);
                } else {
                    // Vamos a mostrar un mensaje de alerta
                    alert('Ocurrió un error al registrar la compra');
                }
            },
            complete: function() {
                // Vamos a resetear el formulario
                form.reset();
            }
        });
    });

    // Cuando se inicialice el modal #purchaseDataModal
    $('#purchaseDataModal').on('show.bs.modal', function (event) {
        // Obtener el botón que desencadenó el evento
        const button = $(event.relatedTarget);
        // Extraer los datos de los atributos data-*
        const id = button.data('id');
        // Ahora vamos a buscar los datos de la compra con el id
        $.ajax({
            url: `/supply/getPurchaseData/${id}`,
            type: 'get',
            success: function(response) {
                if (response.status === 'success') {
                    console.log(response.data);
                    // Vamos a actualizar el contenido del modal
                    const modal = $(this);
                    $('#purchaseDataModal .modal-body').html(`
                        <table class="table table-sm mt-2 mb-4">
                            <tbody>
                            <tr>
                                <th>Proveedor CRE</th>
                                <td>${response.data.supplier}</td>
                            </tr>
                            <tr>
                                <th>Permiso proveedor CRE</th>
                                <td>${response.data.permisoProveedorCRE}</td>
                            </tr>
                            <tr>
                                <th>Transportista CRE</th>
                                <td>${response.data.carrier}</td>
                            </tr>
                            <tr>
                                <th>Permiso transportista CRE</th>
                                <td>${response.data.permisoTransportistaCRE}</td>
                            </tr>
                            <tr>
                                <th>Volumen comprado</th>
                                <td>${Number(response.data.volumenComprado).toFixed(0)} lts</td>
                            </tr>
                            <tr>
                                <th>Precio compra sin descuento</th>
                                <td>$${Number(response.data.precioCompraSinDescuento).toFixed(2)}</td>
                            </tr>
                            <tr>
                                <th>Precio compra con descuento</th>
                                <td>$${Number(response.data.precioCompraConDescuento).toFixed(2)}</td>
                            </tr>
                            <tr>
                                <th>Costo flete</th>
                                <td>$${Number(response.data.costoFlete).toFixed(2)}</td>
                            </tr>
                            <tr>
                                <th>Recibió descuento</th>
                                <td>${response.data.recibioDescuento == 1 ? 'Sí' : 'No'}</td>
                            </tr>
                            <tr>
                                <th>Pagó por servicio de flete</th>
                                <td>${response.data.pagoServicioFlete == 1 ? 'Sí' : 'No'}</td>
                            </tr>
                            </tbody>
                        </table>
                    `);

                } else {
                    // Vamos a mostrar un mensaje de alerta
                    alert('Ocurrió un error al obtener los datos de la compra');
                }
            }
        });
    });

    function confirm_delete(id) {
        alertify.confirm('Eliminar compra', 'Está a punto de eliminar el registro de compra ¿Esta segur@?',
            function(){
                // Vamos a redirigir la página a otra donde se hara el borrado
                window.location.href = `/supply/deletePurchase/${id}`;
            },
            function(){
                alertify.error('Cancel')
            }
        );
    }

    // Cuando el formulario #bulkUploadForm se envíe vamos a añadir la clase .loading al body
    $('#bulkUploadForm').on('submit', function() {
        $('body').addClass('loading');
    });

</script>
{% endblock %}