<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".cer" allowed="false" />
          <add fileExtension=".key" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <handlers>
      <clear />
    </handlers>
  </system.webServer>
</configuration>
