{% extends "views/layouts/base.html" %}
{% block title %}Ventas Dolares Mensual{% endblock %}
{% block mycss %}{% endblock %}
{% block menutitle %}Ventas Dolares Mensual{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <form action="#" method="get">
                <div class="col-2">
                    <label class="col-form-label-sm" for="month">Mes: </label>
                    <input type="month" class="form-control form-control-sm" name="month" id="month" value="{{ from }}" required>
                </div>

                <div class="col-2">
                    <button class="btn btn-sm btn-primary" style="width: 100%; margin-top: 25px;">
                        Generar Reporte
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body table-responsive" >
        <table id="dolar_sales_table" class="table table-hover table-sm w-100">
            <thead>
                <tr>
                    <th>Estación</th>
                    <th>Moneda</th>
                    <th>Tipo de Cambio</th>
                    <th>Cantidad</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Estación</th>
                    <th>Moneda</th>
                    <th>Tipo de Cambio</th>
                    <th>Cantidad</th>
                    <th>Monto</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



{% endblock %}
{% block myjs %}
<script src="{{ JS }}income.js"></script>
{% endblock %}