{% extends "views/layouts/base.html" %}
{% block title %}Vehículos{% endblock %}
{% block mycss %}{% endblock %}
{% block menutitle %}Vehículos{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header pb-0">
        <div class="card-actions float-end">
            <div class="dropdown position-relative">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                        <circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle>
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#" id="exportExcel"><i data-feather="file-text"></i> Exportar a Excel</a>
                    <a class="dropdown-item" href="#" id="exportPDF"><i data-feather="file-text"></i> Exportar a PDF</a>
                    <a class="dropdown-item" href="#" id="exportPrinter"><i data-feather="printer"></i> Imprimir</a>
                    <a class="dropdown-item refresh_datatables_vehicles" href="#"><i data-feather="refresh-ccw"></i> Actualizar</a>
                </div>
            </div>
        </div>
        <h5 class="card-title mb-0">Listado de vehículos</h5>
    </div>
    <div class="card-body table-responsive">
        <div id="filtro-datatables_vehicles" class="mb-1">
            <div class="row">
                <!-- Agrega tus elementos de filtrado aquí -->
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="CODCLI" placeholder="CodCliente"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="CLIENTE" placeholder="Cliente"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="TARJETA" placeholder="Tarjeta"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="PLACAS" placeholder="Placas"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="ECONOMICO" placeholder="Económico"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="VEHICULO" placeholder="Vehículo"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="GRUPO" placeholder="Grupo"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="DESCRIPCION" placeholder="Descripcion"></div>
                <div class="col p-1"><input type="text" class="form-control form-control-sm" style="margin-left: 3px" id="STATUS" placeholder="Status"></div>
                <div class="col p-1 text-center"><button type="button" class="btn btn-sm btn-success refresh"><i data-feather="refresh-ccw"></i></button></div>
            </div>
        <!-- Puedes agregar más filtros según tus necesidades -->
        </div>
        <table id="datatables_vehicles" class="table table-sm w-100 text-nowrap" style="font-size:x-small;">
            <thead>
                <tr>
                    <th>CODCLIENTE</th>
                    <th>CLIENTE</th>
                    <th>TARJETA</th>
                    <th>PLACAS</th>
                    <th>ECONOMICO</th>
                    <th>VEHICULO</th>
                    <th>GRUPO</th>
                    <th>DESCRIPCION</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>CODCLIENTE</th>
                    <th>CLIENTE</th>
                    <th>TARJETA</th>
                    <th>PLACAS</th>
                    <th>ECONOMICO</th>
                    <th>VEHICULO</th>
                    <th>GRUPO</th>
                    <th>DESCRIPCION</th>
                    <th>STATUS</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block myjs %}
<script src="{{ JS }}income.js"></script>
{% endblock %}