<form action="/it/changePasswordModal" method="post" id="changePasswordForm" novalidate>
    <div class="modal-body">
        <div class="mb-3">
            <label for="password1" class="form-label">Contraseña: </label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirme contraseña: </label>
            <input type="password" class="form-control" id="password2" name="password2" required>
            <span id="password2-error" class="text-danger" style="display:none;"></span>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="id" value="{{ user.Id }}">
        <button type="submit" class="btn btn-primary">Guardar usuario</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
    </div>
</form>