{% extends "views/layouts/base.html" %}
{% block title %}Análisis de movimientos{% endblock %}
{% block mycss %}{% endblock %}
{% block menutitle %}Análisis de movimientos{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="GET" action="#" >
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label-sm" for="from">Desde:</label>
                    <input type="date" class="form-control form-control-sm" name="from" id="from" value="{{ from }}" required>
                </div>
                <div class="col-2">
                    <label class="col-form-label-sm" for="until">Hasta:</label>
                    <input type="date" class="form-control form-control-sm" name="until" id="until" value="{{ until }}" required>
                </div>
                <div class="col-2">
                    <label class="col-form-label-sm" for="station">Estación:</label>
                    <select name="station" id="station" class="form-select form-select-sm">
                        <option value="">-- Todas las estaciones --</option>
                        {% for s in stations %}
                            <option value="{{ s.Codigo }}"
                                {% if s.Codigo == codgas %}selected{% endif %}>
                                {{ s.Nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <label class="col-form-label-sm" for="supplier">Proveedor:</label>
                    <input type="hidden" name="supplier_val" id="supplier_val" value="{{ supplier }}">
                    <select name="supplier" id="supplier" class="form-select form-select-sm selectpicker" data-live-search="true" title="-- Todos los proveedores --">
                        <option value="">-- Todos los proveedores --</option>
                        {% for su in suppliers %}
                            <option value="{{ su.codopr }}"
                                {% if su.codopr == supplier %}selected{% endif %}>
                                {{ su.Entidad }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <label class="col-form-label-sm">&nbsp;</label>
                    <button type="submit" id="search_movement_analysis" class="btn btn-sm btn-primary w-100">Generar Reporte</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Análisis de Compras de Combustible</h5>
    </div>
    <div class="card-body table-responsive">
        <table id="movement_analysis_table" class="table table-hover table-sm w-100" style="width: 100% !important;">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Factura</th>
                    <th>Orden de Compra</th>
                    <th>Fecha</th>
                    <th>Vencimiento</th>
                    <th>Producto</th>
                    <th>VolumenRecibido</th>
                    <th>Facturado</th>
                    <th>Importe</th>
                    <th>I.E.P.S</th>
                    <th>I.V.A.</th>
                    <th>Recargos</th>
                    <th>TotalFactura</th>
                    <th>Estación</th>
                    <th>UUID</th>
                    <th>RFC</th>
                    <th>Remision</th>
                    <th>Vehiculo</th>
                    <th>Proveedor</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Número</th>
                    <th>Factura</th>
                    <th>Orden de Compra</th>
                    <th>Fecha</th>
                    <th>Vencimiento</th>
                    <th>Producto</th>
                    <th>VolumenRecibido</th>
                    <th>Facturado</th>
                    <th>Importe</th>
                    <th>I.E.P.S</th>
                    <th>I.V.A.</th>
                    <th>Recargos</th>
                    <th>TotalFactura</th>
                    <th>Estación</th>
                    <th>UUID</th>
                    <th>RFC</th>
                    <th>Remision</th>
                    <th>Vehiculo</th>
                    <th>Proveedor</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block myjs %}
<script src="{{ JS }}accounting.js"></script>
<script>
    movement_analysis_table();
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}