{% extends "views/layouts/base.html" %}
{% block title %}Análisis de movimientos{% endblock %}
{% block mycss %}{% endblock %}
{% block menutitle %}Análisis de movimientos{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <label class="col-form-label-sm" for="from">Desde:</label>
                <input type="date" class="form-control form-control-sm" name="from" id="from" value="{{ from }}" required>
            </div>
            <div class="col-2">
                <label class="col-form-label-sm" for="until">Hasta:</label>
                <input type="date" class="form-control form-control-sm" name="until" id="until" value="{{ until }}" required>
            </div>
            <div class="col-2">
                <label class="col-form-label-sm">&nbsp;</label>
                <button id="search_movement_analysis" class="btn btn-sm btn-primary w-100">Generar Reporte</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Análisis de Compras de Combustible</h5>
    </div>
    <div class="card-body table-responsive">
        <table id="movement_analysis_table" class="table table-hover table-sm w-100">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Estación</th>
                    <th>Fecha</th>
                    <th>Entidad</th>
                    <th>Factura</th>
                    <th>Movimiento</th>
                    <th>Monto</th>
                    <th>UUID</th>
                    <th>Ref</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Número</th>
                    <th>Estación</th>
                    <th>Fecha</th>
                    <th>Entidad</th>
                    <th>Factura</th>
                    <th>Movimiento</th>
                    <th>Monto</th>
                    <th>UUID</th>
                    <th>Ref</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block myjs %}
<script src="{{ JS }}accounting.js"></script>
<script>
    movement_analysis_table();
</script>
{% endblock %}